*{
    margin:0;
    padding:0;
    cursor: url('http://downloads.totallyfreecursors.com/thumbnails/cat71.gif'),crosshair;
    
}
body{    
    background: #1c1c39 ;
    background-attachment: fixed;
    color: #00ff71;
    font-family: monospace;
    font-size: 1em;
    font-weight:normal; 
    line-height: 1.2em;
    font cursor: url('http://downloads.totallyfreecursors.com/thumbnails/cat71.gif'),crosshair;
}

p {   
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
  }

br {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
}
    
  }




.square {
    max-width: 100px; 
    width: 100%;
    height: auto;
}

.center-img {
    align-items: center;
    align-items: center;
    float:center;
}

.enfase{
    font-weight: bolder;
    text-decoration-style: wavy;
}]
/*MAIN IFRAME*/


/*ELEMENTS*/
a{
    cursor: url("http://downloads.totallyfreecursors.com/thumbnails/cat14.gif"), pointer;
}
a:hover{
    cursor: url("http://downloads.totallyfreecursors.com/thumbnails/cat14.gif"), pointer;
}
a:active{
    cursor: url("http://downloads.totallyfreecursors.com/thumbnails/cat14.gif"), pointer;

}

a:visited{
    cursor: url("http://downloads.totallyfreecursors.com/thumbnails/cat14.gif"), pointer;
}

h1{
    color:#aa3939;
    padding: 0;
    padding-bottom: 0.5em;    
    letter-spacing: 0; 
    font-variant: small-caps; 
    font-size: 2.5em;
    text-align: left;   
}

h2{
    color:#c6e3ff;
    padding: 0;
    padding-bottom: 0.5em;    
    letter-spacing: 0; 
    font-variant: small-caps; 
    font-size: 1.5em;
    text-align: left;   
}

h3 {
    color: #00ff71;
    padding: 0%;  
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-variant: small-caps;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;


    
}
.centered-text {
  color: #c6e3ff;
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 1em;
  transform: translate(-50%, -50%);
  
  font-family: fantasy;
  ;
}

.centered-text:hover{
  color: #00ff71;
  font-family: fantasy;
}


/*NAV BAR*/


/*LAYOUT*/

.wrapper {
display: flex;  
flex-flow: row wrap;
text-align: center;
margin-left: 10%;
margin-right:10%;
}

.wrapper > * {
padding: 10px;
flex: 1 100%;

}

.header {
background: #1c1c39;
min-height: 50px;
outline-style: double;
outline-color: #390071; 
font-family: monospace;
font-size: 1em;
font-weight:normal; 
}

.footer {
background: #1c1c39;
min-height: 50px;
outline-style: double;
outline-color: #390071; 

}

.main {
text-align: left;
background-color: #1c1c39;
padding: 1em;
text-align: justify;

outline-style: double;
outline-color: #390071; 
}

.aside-1 {
text-align: left;
background-color: #1c1c39;
padding: 1em;
text-align: justify;

    
outline-style: double;
outline-color: #390071;
}

.aside-1 a{
    color: #00ff71;
}
@media all and (min-width: 600px) {
.aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
.main    { flex: 3 0px; }
.aside-1 { order: 1; } 
.main    { order: 2; }
.footer  { order: 4; }
}

body {
padding-top: 5%;
padding-bottom: 5%;
padding-left: 10%;
padding-right: 10%;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

/*ACCORDION*/

.flex-container-content {
  padding: 0;
  margin:0;
  background-color: #1c1c39;
  list-style: none;   
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: left;
  outline-width: thin;
  outline-style: dotted;
  border-color: #00ff71;

}


button.accordion {
    width: 100%;
    background-color:  #1c1c39;
    border: none;
    text-align: center;
    padding: 15px 20px;
    color:  	#c6e3ff;
    cursor: url("http://downloads.totallyfreecursors.com/thumbnails/cat14.gif"), pointer;   
    outline-style: double;
    outline-width: thin;
    outline-color:  #c6e3ff; 
  );
  }
  
  button.accordion:after {    
    
  }
  
  button.accordion.is-open:after {
    
  }
  
  button.accordion:hover{
    background-color: #aa3939;
    color: #c6e3ff;
  }
   
  button.accordion.is-open {
    background-color: #1c1c39;
    color: #c6e3ff;
  }
  
  .accordion-content {
    background-color: #1c1c39;
    padding: 1px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    outline-style: double;
    outline-width: thin;
    outline-color:  #c6e3ff;
 
  }

  .container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
  }

  .center-acc {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 200px;
    padding-right: 1.5em;
    padding-top: 18px;
    float: inline-start;
    }
  
/*FLEXBOX*/
@import "compass/css3";

.flex-container {
  padding: 1em;
  margin: 0;
  background-color: #1c1c39;
  list-style: none;
 
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: left;
  outline-style: double;
  outline-color: #390071; 

}

 }
.flex-container-header {
    padding: 1em;
    margin: 0.5em;
    background-color: #1c1c39;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-evenly;

    outline-style: double;
    outline-color: #390071;
  
  }

.flex-item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: auto;
  height: auto;
  color: #c6e3ff;
  font-size: 1.5em;
  text-align: center;
  outline-style: double;
  outline-color: #390071; 
}

.flex-item a{
    color: #aa3939;
    font-variant: small-caps;
    text-decoration: none; 
    letter-spacing: 5px;
}

.flex-item a:active {
    color: #aa3939;
    font-variant: small-caps;
    text-decoration: none;
    letter-spacing: 5px; 
}

.flex-item a:visited{
    color: #aa3939;
    font-variant: small-caps;
    text-decoration: none;
    letter-spacing: 5px;   
}

.flex-item a:hover{
    color: #aa3939;
    font-variant: small-caps;
    text-decoration: none;
    letter-spacing: 5px;  
    font-weight: bolder;
}

.flex-container-footer {
    padding: 1em;
    margin: 0.5em;
    background-color: #1c1c39;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-evenly;
    outline-style: double;
    outline-color: #390071; 
}

 /* Popup container */
 .popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} 