*{
    margin:0;
    padding:0;
    cursor: url('http://downloads.totallyfreecursors.com/thumbnails/cat71.gif'),crosshair;
    
}
body{    
    background: dimgray;
    background-attachment: fixed;
    color: #00ff71;
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    font-weight:normal; 
    line-height: 1.8em;
    font cursor: url('http://downloads.totallyfreecursors.com/thumbnails/cat71.gif'),crosshair;
    overflow-y: scroll; 
    overflow-x: visible;
    padding-top: 1%;
    padding-bottom: 1%;
}
/*SCROLLBAR*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1c1c39;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1c1c39;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #390071;
}

/*BASICS*/
p {   
  position: relative;
  width: 100%;
  }

br { 
  position: relative;
}
    


.square {
    max-width: 100px; 
    width: 100%;
    height: auto;
}

.center-img {
    align-items: center;
    align-items: center;
    float:center;
}

.enfase{
    font-weight: bolder;
    text-decoration-style: wavy;
}

/*MAIN IFRAME*/


/*ELEMENTS*/
a{
    cursor: url("http://downloads.totallyfreecursors.com/thumbnails/cat14.gif"), pointer;
    color: yellow;
    }
a:hover{
    cursor: url("http://downloads.totallyfreecursors.com/thumbnails/cat14.gif"), pointer;
    color: fuchsia;
}
a:active{
    cursor: url("http://downloads.totallyfreecursors.com/thumbnails/cat14.gif"), pointer;
}

a:visited{
    cursor: url("http://downloads.totallyfreecursors.com/thumbnails/cat14.gif"), pointer;
}

h1{
    color:yellow;
    padding: 0;
    padding-right: 5em;
    padding-bottom: 0.5em;    
    letter-spacing: 0; 
    font-variant: small-caps;
    font-size: 2.0em;
    text-align: left; 
}

h2{
  color: #ffffff;
  padding: 0%;  
  padding-top: 0.5em;
  padding-bottom: 1em;  
  /*font-variant: small-caps;*/
  font-family: Consolas, monaco, monospace;
  font-size: 1.0em;
  position: relative;
  letter-spacing: 0px;
  line-height: 1.6em;  
  
  text-decoration: none;  
  width: 100%;

}

h3 {
    color: #ffffff;
    padding: 0%;  
    padding-top: 1em;
    padding-bottom: 1em;
    font-variant: small-caps;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    position: relative;
    letter-spacing: 2px;
    line-height: 1.4em;
    width: 100%;

     
  text-shadow: -1px -5px 3px fuchsia,-1px 1px 3px #a7a705,
  1px -1px 3px fuchsia,1px 1px 3px #a7a705;
}

h3 a{
  color:white;
  padding: 0%;  
  padding-top: 1em;
  padding-bottom: 1em;
  font-variant: small-caps;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2em;
  position: relative;
  letter-spacing: 2px;
  line-height: 1.4em;
  width: 100%;


}

h3 a:hover{
  color: fuchsia;
  padding: 0%;  
  padding-top: 1em;
  padding-bottom: 1em;
  font-variant: small-caps;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  font-size: 1.2em;
  position: relative;
  letter-spacing: 2px;
  line-height: 1.4em;
  width: 100%;  
  
  
  text-shadow: -1px -8px 4px fuchsia,-1px 1px 4px #a7a705,
                1px -1px 4px fuchsia,1px 1px 4px #a7a705;



}

.orange {
  color:#aa3939;
  font-variant: small-caps;

}

.bitsmaller{
  font-size: 2em;
  width: 100%;

}


.green {

  color:#00ff71;

}

h4 {
  color: #ffffff;
  padding: 0%;  
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-variant: small-caps;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1em;    
}

hr{
  color:dimgray;
  margin-bottom: 0.9em;
  margin-top: 0.9em;
  width: 100%;
  size: 100%;
  
  }

.centered-text {
  color: #ffffff;
  position: relative;
  top: 0;
  left: 50%;
  font-size: 1em;
  transform: translate(-50%, -50%);  
  font-family: monospace;
  letter-spacing: 0.6em;
  font-weight: bolder;
}

.centered-text:hover{
  color: #00ff71;
  font-family: monospace;
  font-size: 1em;
  font-weight: bolder;
}

.text{
  line-break: strict;
  padding-top: 1em;
  position: relative;

}

/*NAV BAR*/


/*LAYOUT*/

.wrapper {
display: flex;  
flex-flow: row wrap;
text-align: center;
margin-left: 20%;
margin-right: 20%;
align-content: center;
}

.wrapper > * {
padding: 15px;
flex: 1 100%;

}

.header {
background: #1c1c39;
min-height: 50px;
outline-style: double;
outline-color: #390071; 
font-family: monospace;
font-size: 1em;
font-weight:normal; 
}

.footer {
background: #1c1c39;
min-height: 50px;
outline-style: double;
outline-color: #390071; 

}

.main {
text-align: left;
background-color: #1c1c39;
padding: 1em;
outline-style: double;
outline-color: #390071; 
}

.aside-1 {
text-align: left;
background-color: #1c1c39;
padding: 1em;
text-align: justify;

    
outline-style: double;
outline-color: #390071;
}

.aside-1 a{
    color: #00ff71;
}
@media screen and (max-width: 1250px) {
.wrapper {padding: 0px; border: none; margin: 5px; outline: none;}
.main {padding: 0px; margin: 0px; outline: none;}
.aside-1 {padding: 0px; margin: 0px; border: 0px;}
.body {padding: 0px; margin: 0px; outline: none;}
.flex-container {padding: 0px; margin: 0px; border: 0px; outline: none;}
.header {padding: 0px; margin: 0px; border: 0px; outline: none;}
.footer {padding: 0px; margin: 0px; border:0 px; outline: none;}
.flex-item{ padding: 0px; margin: 0 px; outline: none;}
.h1 {padding: 0px; }
.flex-container-content { padding: 0px; margin: 0px; border: 0px; outline: none;}
}

@media all and (min-width: 600px) {
.aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
.main    { flex: 3 0px; }
.aside-1 { order: 1; } 
.main    { order: 2; }
.footer  { order: 4; }
}


.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

/*ACCORDION*/

.flex-container-content {

  background-color: #1c1c39;
  list-style: none;   
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  color: #ffffff;

  
  
  -webkit-flex-flow: row wrap;
  justify-content: left;
  outline-width: thin;
  outline-style: dotted;
  outline-color: white;
  border-color: #00ff71;

  color: #00ff71;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.flex-container-content a{

text-align: left;
background-color: #1c1c39;
padding: 0;
position: static;
}


button.accordion {
    width: 100%;
    background-color:  #1c1c39;
    border: none;
    text-align: center;
    padding: 15px 20px;
    color:  	#00ff71;
    cursor: url("http://downloads.totallyfreecursors.com/thumbnails/cat14.gif"), pointer;   
    outline-style: double;
    outline-width: thin;
    outline-color:  #00ff71;
    font-variant: small-caps;
    letter-spacing: 7px;
  );
  }
  
  button.accordion:after {    
    
  }
  
  button.accordion.is-open:after {
    
  }
  
  button.accordion:hover{
    background-color:dimgray;
    color: #00ff71;
  }
   
  button.accordion.is-open {
    background-color: #390071;
    color: #00ff71;
    font-variant: small-caps;
  }
  
  .accordion-content {
    background-color: #1c1c39;
    padding: 1px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    outline-style: double;
    outline-width: thin;
    outline-color:  #00ff71;
 
  }

  .container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
  }

  .center-acc {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 200px;
    padding-right: 1.5em;
    padding-top: 18px;
    float: inline-start;
    }
  
/*FLEXBOX*/
@import "compass/css3";

.flex-container {
  padding: 1.8em;
  margin: 0;
  background-color: #1c1c39;
  list-style: none;
 
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: left;
  outline-style: double;
  outline-color: #390071; 

}

 }
.flex-container-header {
    padding: 1em;
    margin: 0.5em;
    background-color: #1c1c39;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-evenly;

    outline-style: double;
    outline-color: #390071;

    min-width: 100%;
  
  }

.flex-item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: auto;
  height: auto;
  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
  outline-style: double;
  outline-color: #390071; 
}

.flex-item a{
    color:white;
    font-variant: small-caps;
    text-decoration: none; 
    letter-spacing: 5px;
}

.flex-item a:active {
    color: fuchsia;
    font-variant: small-caps;
    text-decoration: none;
    letter-spacing: 5px; 
}

.flex-item a:visited{
    color:fuchsia;
    font-variant: small-caps;
    text-decoration: none;
    letter-spacing: 5px;   
}

.flex-item a:hover{
    color:fuchsia;
    font-variant: small-caps;
    text-decoration: none;
    letter-spacing: 5px;  
    font-weight: bolder;
}

.flex-container-footer {
    padding: 1em;
    margin: 0.5em;
    background-color: #1c1c39;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-evenly;
    outline-style: double;
    outline-color: #390071; 
}
/* GALLERY*/

div.gallery {
  margin-left: 1em;
  margin-top: 0;
  padding: 0em;
  float:  unset;
  align-items: center;
  height: auto;

}

div.gallery:hover {
}

div.gallery img {
  max-width: 260px;
  height: auto;
  padding-left: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: black;
  border-style: solid;
  background-color: black;
  border-radius: 0mm;
}

div.desc {
  padding: 0px;
  text-align: left;
}